#projects {
  padding: 30px 30px;
  width: 85vw;
  margin: 0 auto;
  margin-top: 102px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 400px;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  height: 100%;
  object-fit: contain;
}
.layer {
  width: 100%;
  height: 0;
  border-radius: 10px;
  position: absolute;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ddd72a);
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 40px;
  transition: height 0.5s;
  h3 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .link {
    font-size: 15px;
    margin-top: 20px;
    color: #cad70f;
    padding: 20px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: #fff;
    background-size: auto;
    border-radius: 38%;
  }
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}
@media screen and (max-width: 1026px) {
  #projects {
    margin-top: 70px;
    padding: 20px 20px;
  }
  .work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;
  }
}
